:root {
    --white: #F4FAFF;
    --tic-tac-toe: 'Permanent Marker', cursive, sans-serif;
}
body {
    background-color: #253237;
    color: var(--white);
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper h1 {
    margin-top: 4rem;
    font-family: var(--tic-tac-toe);
    font-size: 4rem;
}
.boardContainer {
    margin-top: 4rem;
    display: grid;
    width: 40%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
}
.squares {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--tic-tac-toe);
    font-size: 2rem;
}
.border {
    border-bottom: 1px solid var(--white);

}
.borderRight {
border-right: 1px solid var(--white);
}
.purple {
 color: #858AE3;
}
.pink {
    color: #E63462;
}